<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.safetynet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".auth.SplashScreenActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.FirebaseAuthActivity" />
        <activity android:name=".user.MainPageActivity" />
        <activity android:name=".Withdrawal" />
        <activity android:name=".Deposit" />
        <activity android:name=".Group_home2" />
        <activity android:name=".UserTransactionHistory" />
        <activity android:name=".GroupTransactionHistory" />
        <activity android:name=".EditGroup" />
        <activity
            android:name=".auth.OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/AppTheme" />
        <activity android:name=".payment.DetailedTransactionActivity"></activity>
    </application>

</manifest>